@font-face {
    font-family: Font-awesome-light;
    src: url(../fontawesome/Font\ Awesome\ 5\ Pro-Light-300.otf);
}

/* fonts */
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Calistoga', serif;


/* font weights */
$regular: 400;
$medium: 500;
$bold: 700;


/* wrappers */
.content-wrap {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* header */
header {
    background-color: lightgrey;
}
.logo {
    align-self: flex-start;
    max-width: 165px;
}
li.nav-item {
    padding-left: 24px;
    padding-right: 24px;
}
.navbar {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: lightgrey;

    .row {
        width: 100%;
    }
}
.navbar-light .navbar-nav .nav-link {
    color: black;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: black;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: gray;
}
.navbar-light .navbar-toggler {
    color: black;
    border-color: transparent;
    font-size: 24px;
    justify-self: flex-end;
}
.navbar-toggler {

    &:focus {
        box-shadow: none;
    }
}
.navbar-collapse .navbar-nav {
    text-align: center;
}
i#theIcon {
    text-align: center;
    width: 21px;
}

@media (min-width: 776px) {
    .logo {
        align-self: center;
    }
}


/* main */
main {
    flex-grow: 1;
}


/* footer */
footer {
    width: 100%;
    min-height: 92px;
    padding: 16px 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;

    p {
        margin-bottom: 10px;
        color: black;
    }
    a {
        i {
            color: black;
            padding-left: 5px;
            padding-right: 5px;

            &:hover {
                color: gray;
            }
        }
    }

    i {
        font-size: 20px;
    }
}


/* components */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $secondary-font;
    font-weight: $medium;
}
body, p, ol, ul, li {
    font-family: $primary-font;
    font-weight: $regular;
    line-height: 1.4;
}
.card {
    z-index: 0;
}
.chip {
    display: inline-flex;
    background-color: lightgray;
    border-radius: 100px;
    padding: 4px 12px;
    width: fit-content;
}

/* content */
.subnav {
    position: sticky;
    top: 63px;
    background-color: black;
    z-index: 2;

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 0;

        li {
            padding: 8px;
        }
    }

    .active {
        color: pink;
    }
}
.content-block {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.background-block {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.intro-block {
    .intro-content {
        margin-top: 2rem;
    }
    .company a {
       display: flex;
    }
}
.summary-block {
    background-color: black;
}


/* styleguide */
#styleguide {
    h1 {
        text-align: center;
    }
    .scroll-target {
        scroll-margin-top: 200px!important;
    }
}
