@font-face {
    font-family: Font-awesome-light;
    src: url(../fontawesome/Font\ Awesome\ 5\ Pro-Light-300.otf);
}

#page-container {
    position: relative;
    min-height: 100vh;
}
#content-wrap {
    padding-bottom: 92px;
}

/* header */
header {
    background-color: lightgrey;
}
.logo {
    align-self: flex-start;
    max-width: 165px;
}
li.nav-item {
    padding-left: 24px;
    padding-right: 24px;
}
.navbar {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: lightgrey;

    .row {
        width: 100%;
    }
}
.navbar-light .navbar-nav .nav-link {
    color: black;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: black;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: gray;
}
.navbar-light .navbar-toggler {
    color: black;
    border-color: transparent;
    font-size: 24px;
    justify-self: flex-end;
}
.navbar-toggler {

    &:focus {
        box-shadow: none;
    }
}
.navbar-collapse .navbar-nav {
    text-align: center;
}
i#theIcon {
    text-align: center;
    width: 21px;
}

@media (min-width: 776px) {
    .logo {
        align-self: center;
    }
}

/* components */
.chip {
    display: inline-flex;
    background-color: lightgray;
    border-radius: 100px;
    padding: 4px 12px;
    width: fit-content;
}
/* content */
.content-block {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.background-block {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.intro-block {
    .intro-content {
        margin-top: 2rem;
    }
    .company a {
       display: flex;
    }
}
.summary-block {
    background-color: black;
}